<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Burak Blog</title>
</head>
    <body>
        <div>
            <h1><a href="/">Burak Bagatarhan Blog</a></h1>
        </div>
        <div>
            <p>published: 17.06.2019, 12.00</p>
            <h2><a href="">ilk blog</a></h2>
            <p>bu ilk blog sssskdaldşfdfksdşfdsşfkjsdfkjsdfşjdsşjfşdsfkdşsfdsf</p>


        </div>

        <div>
            <p>published: 17.06.2019, 12.25</p>
            <h2><a href="">ikinci gönderi</a></h2>
            <p>bir varmış fdsfdsfdsfdsfds</p>
        </div>

      <div>

            <h1>SA justin KARDEŞ</h1>

      </div>





    </body>
</html>